# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: linux-64
_libgcc_mutex=0.1=main
_openmp_mutex=5.1=1_gnu
appdirs=1.4.4=pypi_0
attrs=23.1.0=pypi_0
bzip2=1.0.8=h7b6447c_0
c-ares=1.19.1=h5eee18b_0
ca-certificates=2023.08.22=h06a4308_0
certifi=2023.7.22=pypi_0
charset-normalizer=3.3.0=pypi_0
click=8.1.7=pypi_0
coloredlogs=15.0.1=pypi_0
colormath=3.0.0=pypi_0
configargparse=1.7=pypi_0
connection-pool=0.0.3=pypi_0
contourpy=1.1.1=pypi_0
curl=7.88.1=h37d81fd_2
cycler=0.12.1=pypi_0
datrie=0.8.2=pypi_0
docutils=0.20.1=pypi_0
dpath=2.1.6=pypi_0
fastjsonschema=2.18.1=pypi_0
fonttools=4.43.1=pypi_0
future=0.18.3=pypi_0
gitdb=4.0.10=pypi_0
gitpython=3.1.37=pypi_0
htslib=1.8=h57f8fdf_2
humanfriendly=10.0=pypi_0
idna=3.4=pypi_0
importlib-metadata=6.8.0=pypi_0
importlib-resources=6.1.0=pypi_0
jinja2=3.1.2=pypi_0
jsonschema=4.19.1=pypi_0
jsonschema-specifications=2023.7.1=pypi_0
jupyter-core=5.4.0=pypi_0
kiwisolver=1.4.5=pypi_0
krb5=1.20.1=h568e23c_1
ld_impl_linux-64=2.38=h1181459_1
libcurl=7.88.1=h91b91d3_2
libdeflate=1.17=h5eee18b_1
libedit=3.1.20221030=h5eee18b_0
libev=4.33=h7f8727e_1
libffi=3.4.4=h6a678d5_0
libgcc-ng=11.2.0=h1234567_1
libgomp=11.2.0=h1234567_1
libnghttp2=1.52.0=ha637b67_1
libssh2=1.10.0=h37d81fd_2
libstdcxx-ng=11.2.0=h1234567_1
lzstring=1.0.4=pypi_0
markdown=3.5=pypi_0
markdown-it-py=3.0.0=pypi_0
markupsafe=2.1.3=pypi_0
matplotlib=3.8.0=pypi_0
mdurl=0.1.2=pypi_0
multiqc=1.16=pypi_0
nbformat=5.9.2=pypi_0
ncurses=6.4=h6a678d5_0
networkx=3.1=pypi_0
numpy=1.26.0=pypi_0
openssl=1.1.1w=h7f8727e_0
packaging=23.2=pypi_0
pillow=10.0.1=pypi_0
pip=23.2.1=py39h06a4308_0
plac=1.4.0=pypi_0
platformdirs=3.11.0=pypi_0
psutil=5.9.5=pypi_0
pulp=2.7.0=pypi_0
pygments=2.16.1=pypi_0
pyparsing=3.1.1=pypi_0
python=3.9.16=h7a1cb2a_2
python-dateutil=2.8.2=pypi_0
pyyaml=6.0.1=pypi_0
readline=8.2=h5eee18b_0
referencing=0.30.2=pypi_0
requests=2.31.0=pypi_0
reretry=0.11.8=pypi_0
rich=13.6.0=pypi_0
rich-click=1.7.0=pypi_0
rpds-py=0.10.6=pypi_0
setuptools=68.0.0=py39h06a4308_0
six=1.16.0=pypi_0
smart-open=6.4.0=pypi_0
smmap=5.0.1=pypi_0
snakemake=7.32.4=pypi_0
spectra=0.0.11=pypi_0
sqlite=3.41.2=h5eee18b_0
stopit=1.1.2=pypi_0
tabulate=0.9.0=pypi_0
throttler=1.2.2=pypi_0
tk=8.6.12=h1ccaba5_0
toposort=1.10=pypi_0
traitlets=5.11.2=pypi_0
typing-extensions=4.8.0=pypi_0
tzdata=2023c=h04d1e81_0
urllib3=2.0.6=pypi_0
wheel=0.41.2=py39h06a4308_0
wrapt=1.15.0=pypi_0
xz=5.2.10=h5eee18b_1
yte=1.5.1=pypi_0
zipp=3.17.0=pypi_0
zlib=1.2.13=h5eee18b_0
